# Database
DB_PASSWORD=password

# JWT
JWT_SECRET=devops-suite-jwt-secret-key-minimum-256-bits-for-hs256-algorithm

# OAuth2 - Google
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# Grafana
GRAFANA_PASSWORD=admin
